In [24]:
print("Name: Harish P")
print("RegNo: 21BBS0204")

#importing the libraries.
import pandas as pd
import numpy as np

Name: Harish P
RegNo: 21BBS0204

In [25]:
#Task 1. Creating the Data Frame.

x = np.random.randint(0,11,(4,4))
df=pd.DataFrame(x)
df

    0   1  2  3
0   5   9  1  4
1  10   3  7  6
2   8  10  3  0
3   6   8  8  0

In [26]:
# Task-2. Rename the dataframe columns to Random Value 1, Random Value 2, Random Value 3, Random Value 4.

df.columns=['Random Value 1','Random Value 2','Random Value 3', 'Random Value 4']
df

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0               5               9               1               4
1              10               3               7               6
2               8              10               3               0
3               6               8               8               0

In [27]:
# Task-3. Checking the Descriptive Statistics of df.

df.describe()

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000             4.0
mean         7.250000        7.500000        4.750000             2.5
std          2.217356        3.109126        3.304038             3.0
min          5.000000        3.000000        1.000000             0.0
25%          5.750000        6.750000        2.500000             0.0
50%          7.000000        8.500000        5.000000             2.0
75%          8.500000        9.250000        7.250000             4.5
max         10.000000       10.000000        8.000000             6.0

In [28]:
# Task-4. Check for Null Values and find the data types of the columns.

# Checking if there is any Nan or Null item in the created Dataset.
df.isnull().any()

Random Value 1    False
Random Value 2    False
Random Value 3    False
Random Value 4    False
dtype: bool

In [29]:
# Checking Number of Null items in each dataset.
df.isnull().sum()

Random Value 1    0
Random Value 2    0
Random Value 3    0
Random Value 4    0
dtype: int64

In [30]:
# Checking the datatype of df.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random Value 1  4 non-null      int32
 1   Random Value 2  4 non-null      int32
 2   Random Value 3  4 non-null      int32
 3   Random Value 4  4 non-null      int32
dtypes: int32(4)
memory usage: 192.0 bytes

In [31]:
# Task 5. Location and Index Location.

#using loc
df.loc[:,'Random Value 2': 'Random Value 3']

   Random Value 2  Random Value 3
0               9               1
1               3               7
2              10               3
3               8               8

In [32]:
#using iloc
df.iloc[:,1:3]

   Random Value 2  Random Value 3
0               9               1
1               3               7
2              10               3
3               8               8